/SomaSimples_1003.class
/ExtremamenteBasico_1001.class
/AreaDoCirculo_1002.class
/ProdutoSimples_1004.class
/Media_1005.class
/Media2_1006.class
/Diferenca_1007.class
/Salario_1008.class
/SalarioComBonus_1009.class
/CalculoSimples_1010.class
/Teste.class
/SortSimples_1042.class
/TrocaEmVetor_1175.class
/MatrizQuadrada.class
/SomaImparesConsecutivos_1071.class
/Esfera_1011.class
/Area_1012.class
/OMaior_1013.class
/Consumo_1014.class
/DistanciaEntreDoisPontos_1015.class
